<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    this is home page!!!
    <br>
    <br>
    <br>
    <br>
    
    <!-- <img src="static/images/imageone.png" alt=""> -->
    <form enctype="multipart/form-data" method="post">
        {%csrf_token%}
        <input type="file" name="file">
        <button type="submit" >Submit</button>
    </form>
    <br>
    <br>
    <br>
    <br>
    sales of product line : <a href="/custom">Health and beauty</a> 
</body>
</html>